body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #7ADB47;
}
    
h1{
    font-family: 'Exo 2', sans-serif;
    font-weight: 200;
    font-size: 50px;
    text-align: center;
    color: white;
}


.superBig {
    font-size: 20vh;
    font-family: 'Montserrat', sans-serif;
}

#eWasteNaviMap {
    width: 100%;
    height: 60%;
    margin: 0;
    padding: 0;
}

svg {
    margin: 0;
    padding: 0;
}

